body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pre-header {
  height: 30px;
}

.app-header {

}

.city-name {
  font-size: 12px;
  font-family: Beatrice,GT America,Helvetica,Verdana,sans-serif;
  font-weight: bold;
}

.nav-component {
  display: flex;
  align-items: center;
  color: #eb1700;
  font-family: Beatrice,GT America,Helvetica,Verdana,sans-serif;
  font-size: 12px;
  letter-spacing: -.15px;
  line-height: 1;
}

.nav-search-wrapper {
  position: relative;
}

.nav-search-logo {
  position: absolute;
  top: 18px;
  left: 10px;
}

.nav-search-input {
  border: 1px solid #eaeaea;
  border-radius: 4px;
  height: inherit;
  padding: 0 40px;
  height: 50px;
  width: 300px;
}

.search-logo {
  height: 18px;
  width: 18px;
}

.logo-wrapper {
  padding-top: 4px;
  position: relative;
}

.the-g {
  z-index: 10;
  color: white;
  position: relative;
  bottom: 13px;
  left: 13px;
  font-size: 22px;
  font-weight: bold;
}

.main-nav {
  padding:  10px 0 10px 0;
  border-bottom: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
  max-width: 700px;
  display: flex;
  justify-content: center;
  margin: 5px;
}

.main-nav-component {

}
